.form-container {
    padding: 30px;
    min-width: 300px;
}

.upload-wrapper {
    display: flex;
    align-items:center;
    margin:20px 0;
}

.upload-wrapper .MuiTextField-root {
    margin:0 0 0 20px!important;
}